{% include '_snippets/_header.twig' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>MANGAZINE - Shop</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header class="header-content">
    <div class="top-mangas-wrapper">
        <div class="header-title">
            <h4>Shop</h4>
            <hr>
        </div>
    </div>
    <div class="filter-container">
        {% set genres = craft.entries.section('genres').all() %}
        {% set ages = craft.entries.section('ages').all() %}

        {% set selectedGenreId = craft.app.request.getParam('genreFilter') %}
        {% set selectedAgeId = craft.app.request.getParam('ageFilter') %}

        <form>
            <label for="genreFilter">Genre:</label>
            <select id="genreFilter" name="genreFilter" onchange="this.form.submit()">
                <option value="">All Genres</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}"
                            {% if selectedGenreId is defined and selectedGenreId == genre.id %}
                    selected
                            {% endif %}>{{ genre.title }}
                    </option>
                {% endfor %}
            </select>
            <label for="ageFilter">Age:</label>
            <select id="ageFilter" name="ageFilter" onchange="this.form.submit()">
                <option value="">All Ages</option>
                {% for age in ages %}
                    <option value="{{ age.id }}"
                            {% if selectedAgeId is defined and selectedAgeId == age.id %}
                    selected
                            {% endif %}>{{ age.title }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="mangas-shop-container">
        <div class="mangas-first-row-container">
            <div class="mangas-container">
                {% set limit = 6 %}
                {% set page = craft.app.request.getParam('page') ?? 1 %}
                {% set offset = (page - 1) * limit %}

                {% set productsQuery = craft.entries.section('shop').limit(limit).offset(offset) %}
                {% if selectedGenreId %}
                    {% set productsQuery = productsQuery.relatedTo({
                        targetElement: selectedGenreId,
                        field: 'genreFilter'
                    }) %}
                {% endif %}
                {% if selectedAgeId %}
                    {% set productsQuery = productsQuery.relatedTo({
                        targetElement: selectedAgeId,
                        field: 'ageFilter'
                    }) %}
                {% endif %}
                {% set products = productsQuery.all() %}
                {% set totalProducts = productsQuery.count() %}
                {% set totalPages = (totalProducts / limit)|round(0, 'ceil') %}

                {% if products|length %}
                    {% for product in products %}
                        <div class="manga-content-holder">
                            <div class="manga-information-container">
                                <div class="first-title-wrapper">
                                    {% set image = product.mangaImage.one() %}
                                    {% if image %}
                                        <a href="https://werkpakket3-webexpert.ddev.site/product/{{ product.title }}">
                                            <img src="{{ image.url }}" alt="{{ product.mangaTitle }}">
                                        </a>
                                    {% else %}
                                        <img src="../images/default.png" alt="Default Image">
                                    {% endif %}
                                    <div class="manga-title-price">
                                        <h3>{{ product.mangaTitle }}</h3>
                                        <h3>{{ product.priceTag }}</h3>
                                    </div>
                                </div>
                                <div class="manga-description">
                                    <h6>{{ product.mangaDescription }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No products found for the selected filters.</p>
                {% endif %}
            </div>
        </div>

        <div class="pagination">
            {% if page > 1 %}
                <div>
                    <a href="?page={{ page - 1 }}
                       {% if selectedGenreId %}&genreFilter={{ selectedGenreId }}{% endif %}
                       {% if selectedAgeId %}&ageFilter={{ selectedAgeId }}{% endif %}">
                        Previous
                    </a>
                </div>
            {% endif %}

            {% for p in 1..totalPages %}
                <div>
                    <a href="?page={{ p }}
                       {% if selectedGenreId %}
                       &genreFilter={{ selectedGenreId }}{% endif %}
                       {% if selectedAgeId %}&ageFilter={{ selectedAgeId }}{% endif %}"
                       class="pagination__item {% if p == page %}active{% endif %}">
                        {{ p }}
                    </a>
                </div>
            {% endfor %}

            {% if page < totalPages %}
                <div>
                    <a href="?page={{ page + 1 }}
                       {% if selectedGenreId %}&genreFilter={{ selectedGenreId }}{% endif %}
                       {% if selectedAgeId %}&ageFilter={{ selectedAgeId }}{% endif %}">
                        Next
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
{% include '_snippets/_footer.twig' %}
</body>
</html>
